body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  line-height: 2;
}

hr {
  border-color: #EAF6F6;
  border-style: dotted;
  border-width: 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h3 {
  color: #11999E;
}

.top {
  background-color: #FCF8E8;
}

.middle {
  padding-top: 50px;
}

.topcloud {
  margin: 30px 0 10px 0;
  padding-top: 50px;
  position: relative;
  left: 200px;
}

.botcloud {
  position: relative;
  bottom: 310px;
}

.initial {
  color: #40514E;
}

.sp {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  text-align: left;
  line-height: 2;
  margin: 100px auto 100px auto;
}

.skillspic {
  width: 200px;
  float: left;
  margin-right: 30px;
}

.wings {
  width: 200px;
  float: right;
  margin-left: 30px;
}

.bottom {
  background-color: #66BFBF;
  padding: 50px;
}

.btn {
  color: #fcf7fc;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  margin: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.footer-link {
  padding: 10px;
  color: #11999E;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

.footer-link:hover {
  color: #EAF6F6;
  background-color: #11999E;
}

.cc {
  color: #EAF6F6;
  padding-top: 25px;
  font-size: 0.75rem;
}
